<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "редагувати категорію", edit_category_path(@category) %> |
  <%= link_to "повернутись до категорій", categories_path %>

  <%= button_to "видалити категорію", @category, method: :delete %>
</div>
