<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Звіті по категоріям</h5>
          <p class="card-text">
          <br>
            <%= form_tag report_category_path do  %>
              <%= select_tag("id", options_for_select(Category.all.map{ |u| [ u.name, u.id ] }, params[:id]), include_blank: "Всі категорії", class: "form-select") %>
              <%= render 'reports/radio_button'%>
              <%= render 'reports/date_field'%>
              <button class="btn btn-primary">Генерувати</button>
            <% end %>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Звітів по датам</h5>
          <p class="card-text">
          <br>
            <%= form_tag report_date_path do  %>
              <select class="form-select" aria-label="Disabled select example" disabled>
              <option selected>Всі категорії</option>
              </select>
              <%= render 'reports/radio_button'%>
              <%= render 'reports/date_field'%>
              <button class="btn btn-primary">Генерувати</button>
            <% end %>
          </p>
      </div>
    </div>
  </div>
</div>