<div id="<%= dom_id operation %>">
  <p>
    <strong>Sum:</strong>
    <%= operation.sum %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= operation.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= operation.type %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= operation.category_id %>
  </p>

</div>
