<div id="<%= dom_id operation %>">
  <p>
    <strong>категорія:</strong>
    <%= operation.category.name %>
  </p>
  <p>
    <strong>тип:</strong>
    <%= operation.spend_earn == true ? 'Дохід' : 'Витрата' %>
  </p>
  <p>
    <strong>сума</strong>
    <%= operation.sum %>
  </p>
  <p>
    <strong>опис:</strong>
    <%= operation.description %>
  </p>
  <p>
    <strong>дата</strong>
    <%= operation.date %>
  </p>
</div>
